<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Biblioteca Voluntarului - Acasă</title>
        <meta name="keywords" content="voluntariat, biblioteca, voluntar, oferte voluntariat, adolescenți, tineret, internship, piata, oferte">
        <meta name="description" content="Oferte de voluntariat și internship-uri pentru tinerii din București">
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body class="pagina-cu-background">
        <%- include("../fragmente/header.ejs") %>
        <main>
            <div id="grid-pagina">
                <section id="sectiune1">
                    <div id="text">
                        <h2>Ce este Bibilioteca Voluntarului?</h2>
                        <div id="text-reflectat">
                            <h2>Ce este Bibilioteca Voluntarului?</h2>
                        </div>
                    </div>
                    <p><b>Biblioteca Voluntarului</b> este o platformă online dedicată <em>tinerilor</em> din România care doresc să se implice în activități de voluntariat sau internshipuri, dar și organizatorilor care au nevoie de voluntari pentru proiectele lor. <strong>Scopul principal al site-ului este de a crea o legătură efi cientă între ONG-uri, companii, organizatori de evenimente și tinerii care doresc să-și pună abilitățile și timpul în slujba unei cauze.</strong></p>

                    <aside>
                        <p>Cuvântul bibliotecă provine din cuvântul grecesc „bibliothéke”, combinația cuvintelor „biblion” (carte) și „théke” (dulap, cufăr) preluat în latină ca „bibliotheca”.</p>
                    </aside>
                
                    <p>Prin intermediul platformei, organizatorii își pot crea un cont de utilizator, unde pot încărca oferte de voluntariat și internshipuri, detaliind informațiile despre proiecte, locație, domeniu de activitate și numărul de voluntari necesari. Pe de altă parte, tinerii care sunt interesați de aceste oportunități trebuie să își creeze și ei un cont pe site. După crearea contului, aceștia au posibilitatea să își încarce CV-ul, scrisori de intenție și alte documente relevante, pentru a aplica la ofertele de voluntariat sau internshipuri care îi interesează.</p>

                    <hr />
                    
                    <p>Site-ul oferă un mediu transparent și interactiv, în care atât organizatorii, cât și voluntarii, pot gestiona informațiile și aplicațiile. Voluntarii pot urmări stadiul aplicațiilor lor, iar organizatorii pot evalua candidații și selecta cei mai potriviți voluntari pentru proiectele lor. De asemenea, platforma include ghiduri și resurse educaționale pentru a sprijini dezvoltarea personală și profesională a tinerilor, dar și pentru a ajuta organizatorii să își gestioneze mai bine proiectele de voluntariat.</p>
                    
                    <blockquote>
                        <p>În ansamblu, <q>Biblioteca Voluntarului</q> este o soluție integrată care facilitează accesul tinerilor la oportunități de voluntariat și internshipuri și susține organizarea și efi cientizarea activităților de voluntariat din România, contribuind astfel la dezvoltarea comunității și a tinerelor talente, reprezentând o adevărată <dfn>piață a ofertelor</dfn> de acest tip.</p>
                    </blockquote>

                    <p>Suntem împreună de <s>5 ani</s> <ins>6 ani</ins> pentru dezvoltarea ta.</p>

                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mi class="viața">viață</mi>
                        <mo>=</mo>
                        <msubsup>
                            <mo class="integral">∫</mo>
                            <mrow>
                                <mi class="nastere">naștere</mi>
                            </mrow>
                            <mrow>
                                <mi class="moarte">moarte</mi>
                            </mrow>
                        </msubsup>
                        <mi class="experienta">experiență</mi>
                        <mo stretchy="false">(</mo>
                        <mi>t</mi>
                        <mo stretchy="false">)</mo>
                        <mo class="d">d</mo>
                        <mi class="t">t</mi>
                    </math>

                    <figure>
                        <picture>
                            <source srcset="/resurse/img/voluntariat-small.jpg" media="(max-width: 800px)">
                            <source srcset="/resurse/img/voluntariat-medium.jpg" media="(max-width:1200px)">
                            <img src="/resurse/img/voluntariat-large.jpg" alt="Voluntari lucrând împreună">
                        </picture>
                        <figcaption>O echipă de voluntari care colaborează la un proiect comunitar.</figcaption>
                    </figure>
                </section>
                <section id="date-utilizatori">
                    <h2>Listă de utilizatori online</h2>
                    <p><b>IP-ul tău este: </b><%- locals.ip %></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A dicta aperiam dolor suscipit atque, doloribus enim sed, voluptate nostrum repellendus impedit fugiat nemo delectus natus aspernatur blanditiis perferendis dolore. Error. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam vitae nesciunt odit at incidunt eius est, amet natus voluptatem quae magnam earum id nemo harum eos animi rem excepturi. Eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fuga ratione nisi perspiciatis deleniti laboriosam debitis sapiente saepe dolorum obcaecati corporis beatae eius magnam est odio quaerat molestiae, aut praesentium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam beatae ipsam est corporis nam. Repellat similique excepturi corporis, numquam sequi incidunt explicabo neque rem, iste dignissimos dolore recusandae consequatur blanditiis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt sit, dicta suscipit quasi officia molestias nobis dolor nesciunt. Molestiae quae quo provident consequatur voluptatem atque odio soluta expedita saepe mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dicta voluptatem nisi, quibusdam blanditiis quis, illum sint enim, nemo sed laboriosam quae vel perferendis in ad repellat soluta expedita? Ipsa!</p>
                </section>
                <section id="date-statistici">
                    <h2>Date despre utilizator și statistici</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A dicta aperiam dolor suscipit atque, doloribus enim sed, voluptate nostrum repellendus impedit fugiat nemo delectus natus aspernatur blanditiis perferendis dolore. Error. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum consequatur non ipsum mollitia explicabo cupiditate optio labore maxime quibusdam voluptatum nisi eos similique possimus, modi minima libero perspiciatis nesciunt? Adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, quos iusto aspernatur optio illo dignissimos incidunt? Quod minus nulla numquam quisquam nesciunt et, necessitatibus reprehenderit odit eos, at quibusdam quaerat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore doloribus, expedita praesentium quibusdam sit tempore vel! Natus quibusdam optio dignissimos officia explicabo perspiciatis earum, velit nobis quis hic. Molestiae, illo! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloribus voluptatibus asperiores modi cumque quisquam. Hic vero inventore in pariatur ab dicta accusantium laboriosam iure! Alias nesciunt exercitationem voluptatem porro! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatem velit eligendi beatae sunt odio, nisi nobis ipsum corporis tenetur? Recusandae ullam rerum quidem itaque culpa iure beatae consequuntur totam.</p>
                </section>
                <section id="date-site">
                    <h2>Date despre site și server</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A dicta aperiam dolor suscipit atque, doloribus enim sed, voluptate nostrum repellendus impedit fugiat nemo delectus natus aspernatur blanditiis perferendis dolore. Error. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore dolorem sapiente commodi fugiat numquam mollitia consequuntur dignissimos optio veniam blanditiis dolor illum rerum aperiam saepe quasi animi, natus quisquam. Vero! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum hic eius odit explicabo sed, commodi nostrum eos beatae, vero a sint delectus maxime, soluta ducimus dolores impedit tenetur corporis asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fugiat odit minus exercitationem molestiae nostrum eligendi iure nam commodi quisquam, placeat corporis ut harum quod inventore totam laudantium quos consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ab blanditiis ea? Tempore repudiandae autem necessitatibus magnam praesentium voluptas maiores veniam recusandae ut vitae vel molestias laboriosam delectus, velit sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur harum, repellat pariatur iste neque magnam minus similique, eos modi quam sit obcaecati quas illum expedita nemo rerum veritatis sunt consequuntur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia dolore sequi est nobis, reiciendis quo eos perspiciatis nesciunt sit aliquam tenetur accusamus! Velit molestiae suscipit dolor dicta rerum nisi totam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, laboriosam. Velit corporis sunt quaerat!</p>
                </section>
                <section id="tabel">
                    <div id="tabel-scroll">
                        <table>
                            <caption>Top 5 cele mai mari proiecte de voluntariat</caption>
                            <thead>
                                <tr>
                                    <th>Nr. crt.</th>
                                    <th>Nume proiect</th>
                                    <th>Organizator</th>
                                    <th>Domeniu</th>
                                    <th>Durata</th>
                                    <th>Număr voluntari</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Orașul Verde</td>
                                    <td>Asociația Ecoterra</td>
                                    <td>Mediu & Ecologie</td>
                                    <td>6 luni</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>EduTech Forward</td>
                                    <td>ONG EduFWD</td>
                                    <td>Educație Digitală</td>
                                    <td>4 luni</td>
                                    <td>95</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Prietenii Animalelor</td>
                                    <td>Fundația Animalia</td>
                                    <td>Protecția animalelor</td>
                                    <td colspan="2">Martie – August 2025</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Artă în Parc</td>
                                    <td>Club VoluntarX</td>
                                    <td>Artă & Cultură</td>
                                    <td>2 luni</td>
                                    <td>60</td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Start ONG</td>
                                    <td>Asociația Implicat</td>
                                    <td>Civic & Advocacy</td>
                                    <td>5 luni</td>
                                    <td>80</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">Număr total de voluntari:</td>
                                    <td>355+</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
                <section id="calendar">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A dicta aperiam dolor suscipit atque, doloribus enim sed, voluptate nostrum repellendus impedit fugiat nemo delectus natus aspernatur blanditiis perferendis dolore. Error.</p>
                    <video poster="/resurse/img/voluntariat-large.jpg" controls controlslist="nodownload" muted autoplay loop preload="auto"> <!-- The autoplay attribute has precedence over preload -->
                        <source src="/resurse/img/Video voluntariat.mp4" type="video/mp4"/>
                        <source src="/resurse/img/Video voluntariat.webm" type="video/webm"/>
                        <source src="/resurse/img/Video voluntariat.mov" type="video/mov"/>
                        <track default src="/resurse/vtt/video_voluntariat_ro.vtt" kind="captions" srclang="ro" label="Română"/>
                        <track src="/resurse/vtt/video_voluntariat_en.vtt" kind="captions" srclang="en" label="Engleză"/>
                        <track src="/resurse/vtt/video_voluntariat_fr.vtt" kind="captions" srclang="fr" label="Franceză"/>
                        <p>Browser-ul tău nu suportă formatul video în HTML. Iată un <a href="/resurse/img/Video voluntariat.mp4" download="Video voluntariat.mp4">link pentru descărcare</a> în schimb. </p>
                    </video>
                </section>
                <section id="evenimente">
                    <p><i class="fa-solid fa-triangle-exclamation fa-beat-fade" style="color: #d11515;"></i> Grăbește-te, nu mai sunt multe oferte de voluntariat rămase!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A dicta aperiam dolor suscipit atque, doloribus enim sed, voluptate nostrum repellendus impedit fugiat nemo delectus natus aspernatur blanditiis perferendis dolore. Error.</p>
                </section>
                <section id="sectiune2">
                    <h2>Ce vei găsi în biblioteca noastră?</h2>
                    <section id="subsectiune1">
                        <h3>Oferte de voluntariat</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic alias explicabo quasi culpa sunt, quas cum libero nulla delectus aut fugit, consequuntur, earum consectetur voluptates odit repudiandae laboriosam officiis nihil!
                        Dolore, quos. Libero sint illo eius quos nisi voluptate sapiente cumque, enim magni ut temporibus et beatae amet eum at repellat nobis? Maxime excepturi labore eveniet mollitia harum, ipsum sit.
                        A excepturi minus aspernatur nesciunt natus! Quia officiis quam minima distinctio repellendus quidem sapiente placeat perferendis repudiandae in, provident modi eos adipisci reprehenderit nesciunt ad ratione sed voluptatem consequuntur totam?
                        Quasi recusandae tenetur, tempore est ratione quo vel eius quidem iusto unde dolorem omnis nostrum magni error assumenda sapiente provident architecto facere officia! Eum magnam nostrum laboriosam, pariatur deserunt est?
                        Cumque excepturi itaque qui esse, consequatur voluptas velit dolorem soluta. Dolores, corporis? Aspernatur velit veniam magnam modi rem. Optio numquam id nesciunt velit eius eos omnis temporibus laboriosam odit nobis?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vitae at, ullam dolore dolorum hic excepturi labore laudantium quia, quis magni blanditiis magnam cumque. Aut vel soluta suscipit tempora earum.
                        Et dolores obcaecati sapiente ducimus corrupti nulla a laudantium voluptatum? Iste distinctio illo commodi, laborum dolorem pariatur aut velit praesentium asperiores saepe laboriosam repudiandae vitae officia in doloremque explicabo tempore!
                        Quasi consequatur earum nostrum eaque pariatur suscipit quibusdam non fuga, cupiditate, quia, reprehenderit corporis molestias ullam nam labore nulla quis enim modi eveniet saepe. Officia repellendus provident excepturi unde distinctio.</p>
                        <details>
                            <summary>Care sunt beneficiile voluntariatului?</summary>
                            <p>Voluntariatul dezvoltă abilități sociale, experiență profesională și contribuie la comunitate.</p>
                        </details>
                    </section>
                    <section id="subsectiune2">
                        <h3>Oferte de internship-uri</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique obcaecati delectus culpa dignissimos atque quaerat incidunt consectetur accusantium, sint ipsum cumque, sed id accusamus? Quidem tempore sapiente ab itaque voluptates!
                        Illo quos sit ex voluptatibus ipsam, sapiente natus tempora voluptatem eos ipsum, voluptates enim earum neque inventore? Nam quam eum quo voluptas iusto optio qui minus alias, tempore, libero ea.
                        Vel quia obcaecati assumenda magnam autem. Itaque sint ipsam facere excepturi maiores id soluta fugit labore a consequatur incidunt natus, officiis porro nemo similique eius dolorum possimus? Adipisci, fuga magnam.
                        Reiciendis quia amet sed eos non illum minima quis vitae tenetur harum, omnis voluptatibus magnam enim commodi, ad, alias quisquam. Ipsa debitis numquam, quia commodi dolorum ipsam aliquid? Nihil, nemo?</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos ipsam modi cum veniam itaque quia, architecto dicta in voluptatum? Sapiente labore impedit ullam, quia et totam! Laborum cupiditate quaerat reiciendis.
                        Distinctio, dolore? Sequi aspernatur quae minima odio laborum quasi exercitationem cum eveniet doloribus blanditiis. Provident aliquid mollitia ipsum officiis dolor eos tempore ducimus ea et facilis? Eius maiores quibusdam reprehenderit?
                        Reprehenderit ipsa, cum incidunt aliquam est officiis at iure? Iste nam deserunt, rerum ut earum expedita est praesentium cupiditate, explicabo aliquam suscipit consectetur nemo eos saepe tenetur aliquid aperiam nesciunt.
                        Temporibus maiores voluptatum consectetur laboriosam quidem eos et debitis, eaque quisquam nesciunt praesentium reprehenderit earum ducimus veniam architecto eius suscipit, numquam modi! Velit autem quam at quidem vitae, dolore illo?
                        Numquam aliquid voluptatem corporis reiciendis eum, temporibus dolores placeat. Excepturi maxime voluptas quo quidem aspernatur est, id, vitae amet cupiditate et blanditiis. Unde magni delectus quis voluptate suscipit nostrum est.
                        Perferendis modi laborum omnis possimus qui corrupti similique quisquam quasi rerum iusto neque inventore itaque dolore blanditiis unde, perspiciatis ipsum magni, consequuntur maxime est eius exercitationem magnam! Deleniti, asperiores fuga!
                        Voluptatibus odit commodi officia dolore inventore illum fugiat voluptas. Voluptate inventore laboriosam, ad ex facilis corrupti quia. Laboriosam cupiditate reiciendis recusandae quidem illo aspernatur ipsum voluptates? Quasi soluta esse magnam!
                        Consectetur repellat eius modi dolorum, quos eaque facilis veritatis iure vitae quisquam commodi tempore odio hic nemo repudiandae necessitatibus cum beatae! Laudantium laborum temporibus tempora eius dignissimos quia provident doloremque!
                        Provident consequatur quia vel error! Corrupti nulla asperiores cum sapiente labore ab dignissimos nobis. Iusto in expedita non recusandae possimus, perspiciatis aliquid! Et est, atque maxime provident consequuntur officiis quia.
                        Quibusdam, officia a consequuntur neque ipsa cumque id temporibus placeat nesciunt ipsam obcaecati illo enim eius hic inventore fugiat eligendi dolorum nihil deleniti iste, modi nisi? Mollitia eveniet quis architecto.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium rerum vitae voluptatum, harum amet nesciunt doloremque modi aliquam itaque quidem, sequi fugit? Odit atque esse dignissimos possimus nostrum labore molestiae.
                        Magni impedit quis eveniet unde quos ipsam illum dolore maxime, ullam nobis enim voluptates quasi saepe vitae maiores quo nihil modi nam quisquam perspiciatis, quod deserunt temporibus? Tempora, sint quo!
                        Ex, libero a voluptatibus nam, iusto ad quis quibusdam enim sed nostrum repudiandae vel veritatis nemo debitis eveniet vero reprehenderit rerum, dignissimos et cum. Soluta suscipit magnam numquam blanditiis officiis?</p>
                        <details>
                            <summary>Cum pot aplica la un internship?</summary>
                            <p>Trebuie să creezi un cont, să încarci CV-ul și să aplici la ofertele disponibile.</p>
                        </details>
                    </section>
                    <div id="imagine"></div>
                </section>
                <section id="sectiune3">
                    <h2>Documente utile</h2>
                    <p>Descarcă <a href="/resurse/documente/ghid-voluntariat.pdf" download>Ghidul Voluntarului</a> pentru informații detaliate.</p>
                    <object data="/resurse/documente/ghid-voluntariat.pdf" type="application/pdf" width="50%" height="500">
                        <p>Ne pare rău, PDF-ul nu poate fi afișat.</p>
                    </object>

                    <p>Iată și câteva definiții/ explicații:</p>
                    <dl>
                        <dt>Ghid</dt><dd>Carte cuprinzând informații de călătorie, hărți, planuri, îndrumări etc. necesare unui turist pentru orientarea într-o țară, într-o regiune, într-un muzeu etc.</dd>
                        <dt>Regulament</dt><dd>Totalitatea instrucțiunilor, normelor și regulilor care stabilesc și asigură ordinea și bunul mers al unei organizații, al unei instituții, al unei întreprinderi etc.</dd>
                        <dt>Document/ Politică de Utilizare/ Termeni şi Condiții</dt><dd>Prezenta Politică privind termenii şi condiţiile de utilizare a Site-ului, denumit şi Termenii şi Condițiile”, „T&C” sau „Politică”, care va guverna raportul contractual dintre LegalOnline și Clienți, Utilizatori și/ sau Vizitatori şi care va fi interpretată în conformitate cu legea română. Orice neconformitate sau nevalabilitate a unei părţi sau clauze din Termeni şi Condiţii cu alte prevederi legale aplicabile nu are efecte asupra valabilităţii şi legalităţii celorlalte prevederi din Politică.</dd>
                    </dl>
                </section>
                <section id="sectiune4">
                    <h2>Linkuri utile</h2>
                    <p>Vizitează site-ul oficial al <a href="https://fmi.unibuc.ro/" target="_blank">Voluntariat România</a> pentru mai multe informații.</p>
                    <div class="container-iframe">
                        <iframe name="ifr-video" width="800" height="500" src="https://www.youtube.com/embed/jbV1TDZQAFc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="taburi-iframe">
                            <a href="https://www.youtube.com/embed/jbV1TDZQAFc" target="ifr-video">TEDx SanAntonio</a>
                            <a href="https://www.youtube.com/embed/jQbUU6pyWHc" target="ifr-video">TEDx SurreySalon</a>
                            <a href="https://www.youtube.com/embed/1Bq8NkoK--I" target="ifr-video">Cafeluța de Leadership</a>
                        </div>
                    </div>

                    <iframe src="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica&output=embed" width="600" height="450" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <img src="/resurse/img/map.png" usemap="#voluntariat-map" alt="Hartă voluntariat">
                    <map name="voluntariat-map">
                        <area shape="circle" coords="47,40,26" href="mailto:contact@bibliotecavoluntarului.ro" alt="E-mail" />
                        <area shape="rect" coords="96,15,133,66" href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica" target="_blank" alt="Locație" />
                        <area shape="rect" coords="155,0,299,79" href="https://www.instagram.com/" target="_blank" alt="Social" />
                    </map>
                </section>
            </div>
            <%- include("../fragmente/galerie-statica.ejs") %>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>